<html>
<head>
<link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div>
		<h1>广告查看器(Beta)</h1>
		<p style="
    float: left;
">广告代理设置帮助，请<a href="/static/help.html">点击</a></p>
<form id="search_form" style="
    float: right;
" class="form-inline" role="form" action="/ad_info">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">来源</div>
<select class="form-control" name="ad_type" >
          <option value="" {%if ad_type == "" %}selected{% end %}>全部</option>
          <option value="广点通"  {%if ad_type == "广点通" %}selected{% end %}>广点通</option>
          <option value="今日头条" {%if ad_type == "今日头条" %}selected{% end %}>今日头条</option>
          <option value="网易新闻" {%if ad_type == "网易新闻" %}selected{% end %}>网易新闻</option>
          <option value="腾讯新闻" {%if ad_type == "腾讯新闻" %}selected{% end %}>腾讯新闻</option>
          <option value="搜狐新闻" {%if ad_type == "搜狐新闻" %}selected{% end %}>搜狐新闻</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">关键字</div>
      <input class="form-control" type="text" name="key" placeholder="" value="{{key}}">
    </div>
  </div>
  <button type="submit" class="btn btn-default">搜索</button>
</form>



		<table class="table table-bordered">
			<thead>
			<tr>
				<td>抓取时间</td>
				<td>标题</td>
				<td>描述</td>
				<td>来源</td>
				<td>URL</td>
				<td>图片</td>
				<td>操作</td>

			</tr>
                       </thead>
			{% for ad in ad_info %}
			<tr>
				<td>{{ad['create_time']}}</td>
				<td>{{ad['title']}}</td>
				<td>{{ad['description']}}</td>
				<td>{{ad['ad_type']}}</td>
				<td><a href="{{ad['url']}}">广告链接</a></td>
				<td>{%for img in ad['imgs'].split(',')%}
                    <img style="
    max-height: 112px;
" src="{{img}}" alt="">
                    {%end%}
				</td>
				<td><a class="node" href="#" data-id="{{ad['id']}}" title="不是游戏广告">X</a></td>
 
			</tr>
	            {% end %}
		</table>
		<ul class="pagination">
		{%if left%}
			<li><a href="#" data-page="{{left}}">&laquo;</a></li>
		{% end %}
	{% for page in range(pages)%}
		{%if page == current%}
		<li class="active"><a href="#" data-page="{{page}}">{{page}}</a></li>
		{% else %}
		<li ><a href="#" data-page="{{page}}">{{page}}</a></li>
		{% end %}
	{% end %}
		{%if right%}
			<li><a href="#" data-page="{{right}}">&raquo;</a></li>
		{% end %}
</ul>
	</div>
</body>
<script src="/static/jquery-3.1.1.min.js">
</script>
<script>
$(document).ready(function(){
  $("a.node").click(function(){
  	$.post('/not_game_ad_report', params={'id':$(this).attr('data-id')}, content=this, success=function(data){
  		tr = $(this).close("tr");
  		$(tr).remove();
  		});
  });
  $(".pagination a").click(function(){
  	page = $(this).attr("data-page");
  	params = $("#search_form").serialize()
	window.location.href = "/ad_info?" + params + "&page=" + page
  });
});
</script>

</html>
